@charset "utf-8";
@import "reset.css";

html {
    background: black url(https://images.unsplash.com/photo-1534888102055-69b44581d509?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
    background-size: cover;
}

h1 {
    font-size: 7rem;
    color: whitesmoke;
    margin-top: 45px;
    margin-bottom: 75px;
}

a {
    color: wheat;
    text-decoration: none;
}

a:hover {
    color: blueviolet;
}

body {
    text-align: center;
    align-items: center;
}

footer {
    margin-top: 50px;
    margin-right: 50px;
    line-height: 1.8;
    text-align: right;
    color: whitesmoke;
}

.flexClock {
    margin: 0;
    min-height: 50vh;
    display: flex;
    flex: 1;
}

.clock{
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    border: 30px solid whitesmoke;
    position: relative;
    margin: 50px auto;
}

.clockFrame {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px);
}

.niddle {
    width: 50%;
    height: 5px;
    background-color: whitesmoke;
    position: absolute;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    top: 50%;
}

.hour {
    background-color: rgba(255, 255, 255, 0.5);
}

.min {
    background-color: rgba(255, 255, 255, 0.75);
}

.second {
    background-color: whitesmoke;
}

.sub {
    color: whitesmoke;
}