@charset "utf-8";
@import "reset.css";

h1 {
    font-size: 80px;
    color: grey;
    margin-bottom: 35px;
}

body {
    background-color: whitesmoke ;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

button {
    display: flex;
    margin-top: 15px;
    flex-direction: column;
    align-items: center;
}

.buttons button{
    all: unset;
    cursor: pointer;
    background-color: thistle;
    color: grey;
    width: 75px;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 50px 20px 20px 0px;
    font-size: 25px;
}

.buttons button:hover{
    color: black;
}

.canvas {
    width: 800px;
    height: 450px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(50, 50, 93, 0.11), 0, 0, 0, 0.08;
    border-radius: 5px;
}

.palette {
    margin-top: 25px;
}

.colors {
    display: flex;
}

.color {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    cursor: pointer;
    margin: 0 3px;
}

.color:hover {
    box-shadow: 0px 10px 1px #ddd, 0 10px 20px #ccc;
}

