@charset "utf-8";

body {
    background-color: #ffffff;
    text-align: center;
    margin: 0 auto;
    color: white;
}

h1 {
    font-size: 180px;
    margin: 0;
}

h3 {
    font-size: 48px;
}

form {
    border-bottom: 3px solid white;
    padding-bottom: 15px;
    width: 500px;
    margin: 0 auto;
}

input {
    width: 500px;
    height: 70px;
    padding-left: 15px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    background-color: transparent;
    border: 0 !important;
    color: white;
}

input::placeholder {
    color: white;
}

input:focus {
    outline: 0;
    box-shadow: 0;
}

.form,
.username {
    display: none;
}

.show {
    display: block;
}

.bg {
    position: absolute;
    /* 어떤 기준없이 위치를 지정할 수 있음! */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn 0.5s linear;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}